<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<body>


<p>
  &quot;<%= obj['quote'] %>&quot;
  <br />
  &ndash; <%= obj['attribution'] %>
</p>

<p>
  Submitted by <a href="/quotes/quotes_by_submitter?submitter=<%= obj['submitter'] %>"><%= obj['submitter'] %></a>
</p>

<p>
  Viewing with user agent: <%= user_agent %>
</p>

</body>
</html>
